/* Product link styling */
.text-decoration-none {
    color: inherit !important;
}

.text-decoration-none:hover {
    color: inherit !important;
    text-decoration: none !important;
}
.text-decoration-none h5 {
    color: #ffffff !important;  
}
.text-decoration-none .price {
    color: #ffbe33 !important;  
}